
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Calcular IPVA do carro</h2>

    Somar dois Números:<br>

    numero1: <input id="num1" > 
   <br>   +
   <br>       
   numero2: <input id="num2">
   <br>
   <button onclick= "Somar()" > Somar</button>
   <br>
   
   <p id="result">   O resultado é   </p>
   
       
   
   <script>
   
   
   
   
       function Somar () {
           var numero1 =   Number(document.getElementById("num1").value)
           var numero2 =   Number(document.getElementById("num2").value)
           var soma = numero1 + numero2
       
           //velando para o html
   
       document.getElementById("result").innerText =" O resultado é "+ soma
   
   }
      


</script>
</body>
</html>
